body{
    font-family: 'Poppins', sans-serif;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.tanvir{
    color: orange;
}
.section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
   width: 100%;
   padding-top: 15%;
}
.link-button{
    text-decoration: none;
    color: orange;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5%;
    background-image: linear-gradient(orange tomato);
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.expariens-area{
   background-image: url(exp-bg.png);
   background-repeat: no-repeat;
   background-position: left;
}
.expariens-item{
    box-shadow: 10px 10px 30px gray;
    width: 40%;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    

}
#finish{
    border-left: 7px solid tomato;
}
#baby{
    border-left: 7px solid blue;
}
footer{
    text-align: center;
}